.sub-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
}
.get-started-btn {
	width: 50%;
	min-width: 150px;
	max-width: 300px;
	text-align: center;
	padding: 10px;
	border-radius: 18px;
	background-color: #1d58ec;
	color: #f1f1f1;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}
.get-started-btn:hover {
	text-decoration: none;
}
.perks {
	display: flex;
	flex-direction: column;
	width: 100%;
	white-space: nowrap;
	height: auto;
}
.perks-contents-container,
.processes-contents-container {
	display: grid;
	width: 100%;
	max-height: 500px;
	grid-template-columns: 50% 50%;
	grid-area: auto;
	justify-content: space-between;
	padding: 10px;
	height: 100%;
}
.perks-heading,
.processes-heading {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
.perk-image {
	max-height: 150px;
	align-self: center;
}
.perk-texts {
	width: 45%;
	white-space: initial;
}
.beta-icon{
	background-color: #c4daf0;
	text-align: center;
	padding: 2px 5px;
	border-radius: 100%;
	font-family: 'Times', 'Times New Roman', 'serif', 'sans-serif', system-ui, -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Fira Sans', 'Roboto', 'Noto', 'Droid Sans', 'Cantarell', 'Oxygen', 'Ubuntu', 'Franklin Gothic Medium', 'Century Gothic';
}
.perk,
.process {
	font-size: 22px;
	font-weight: bold;
}
.perk-description,
.process-description {
	font-size: 14px;
}
.perk-contents,
.process-contents {
	display: flex;
	flex-direction: row;
	padding: 15px;
}
.create-share-earn {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
}
.number-count {
	background: #c4daf0;
	width: 60px;
	height: 60px;
	text-align: center;
	padding: 5px 15px;
	font-size: 30px;
	font-weight: bold;
	color: #1d58ec;
	border-radius: 100%;
	/* margin-right: 10px; */
}

.process-image-container {
	/* width: 77%; */
	display: flex;
}

.process-image {
	max-height: 150px;
	/* width: 80%; */
	width: 75%;
	align-self: center;
}
.process-texts {
	width: 33%;
	white-space: initial;
}
@media (max-width: 775px) {
	.perks,
	.processes {
		width: 100%;
		margin: 0 auto;
	}
	.perk-contents,
	.process-contents {
		flex-direction: column;
		padding: 10px;
	}
	.perk-texts,
	.process-texts {
		width: 100%;
	}
	.create-share-earn{
		margin-bottom: 300px;
	}
}
/* Need to find a way to prevent the sections from overlapping
This is a temporary fix */
@media (min-width: 773px) and (max-width: 1048px) {
	.create-share-earn {
		margin-top: 200px;
	}
}

@media (min-width: 553px) and (max-width: 785px) {
	.create-share-earn {
		margin-top: 480px;
	}
}
@media (min-width: 410px) and (max-width: 500px) {
	.create-share-earn {
		margin-top: 650px;
	}
}

@media (min-width: 540px) and (max-width: 558px) {
	.create-share-earn {
		margin-top: 515px;
	}
}

@media (min-width: 320px) and (max-width: 380px) {
	.create-share-earn {
		margin-top: 830px;
	}
}
@media (min-width: 374px) and (max-width: 378px) {
	.create-share-earn {
		margin-top: 700px;
	}
}
@media (min-width: 275px) and (max-width: 374px) {
	.create-share-earn {
		margin-top: 1105px;
	}
}
@media (min-width: 318px) and (max-width: 325px) {
	.create-share-earn {
		margin-top: 850px;
	}
}
