.home-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
}
.semicircle-background {
	height: 65vh;
	width: 100%;
	position: absolute;
	z-index: -1000;
}
.section-container {
	display: flex;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	padding-top: 55px;
	flex-direction: row;
}
.pitch {
	display: flex;
	flex-direction: column;
	z-index: 1;
	width: 50%;
	max-width: 400px;
	margin: 20px;
	align-self: center;
}
.get-the-app-btn {
	width: 50%;
	max-width: 300px;
	text-align: center;
	padding: 10px;
	background-color: #40ff40;
	border-radius: 18px;
	color: #f1f1f1;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}
.get-the-app-btn:hover{
	text-decoration: none;
}
.man-studying {
	width: 50%;
	max-width: 400px;
	margin: 20px;
	margin-top: -25px;
	align-self: center;
}
.features{
	display: flex;
	flex-direction: column;
	width: 50%;
}
.feature-contents-container{
	display: grid;
	grid-template-columns: 40% 40%;
}
.features-heading{

}

@media (max-width: 694px) {
	.section-container {
		flex-direction: column;
		padding: 10px;
	}
	.man-studying,
	.pitch {
		width: 100%;
		margin: 10px;
	}
	.man-studying {
		/* width: 90%; */
	}
}
