.home-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
}
.semicircle-background {
	height: 65vh;
	width: 100%;
	position: absolute;
	z-index: -1000;
}
.section-container {
	display: flex;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	flex-direction: row;
}
.landing-section {
	/* margin-top: 55px; */
	padding-top: 55px;
}
.pitch {
	display: flex;
	flex-direction: column;
	z-index: 1;
	width: 50%;
	max-width: 400px;
	margin: 20px;
	align-self: center;
}
.pitch-heading {
}
.pitch-paragraph {
}
.get-the-app-btn {
	width: 50%;
	max-width: 300px;
	text-align: center;
	padding: 10px;
	background-color: #40ff40;
	border-radius: 18px;
	color: #f1f1f1;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}
.get-the-app-btn:hover {
	text-decoration: none;
}
.man-studying {
	width: 50%;
	max-width: 400px;
	margin: 20px;
	margin-top: -25px;
	align-self: center;
}
.features {
	display: flex;
	flex-direction: column;
	width: 60%;
}
.feature-contents-container {
	display: grid;
	width: 100%;
	max-height: 500px;
	grid-template-columns: 50% 50%;
	grid-area: auto;
	justify-content: space-between;
	padding: 10px;
}
.features-heading {
}
.feature-image {
	/* width: 40%; */
	max-height: 150px;
	align-self: center;
}
.feature-texts {
	/* width: 60%; */
	/* height: 60%; */
}
.feature-name {
	font-size: 16px;
}
.feature-description {
	font-size: 13px;
}
.feature-contents {
	display: flex;
	flex-direction: row;
	padding: 15px;
}
.phone-mockup {
	height: 100%;
	max-height: 500px;
	max-width: 350px;
	width: 45%;
	margin-top: 100px;
	align-self: center;
}
.section-heading {
	font-weight: bold;
	text-align: center;
	margin-top: 130px;
}
.rock-star-section {
	justify-content: center;
	margin-top: -110px !important;
}
.rock-star {
	height: 100%;
	max-height: 500px;
	max-width: 400px;
	width: 50%;
	margin-top: 100px;
	align-self: center;
}
.rock-star-text {
	display: flex;
	flex-direction: column;
	width: 35%;
	justify-content: center;
	padding: 30px;
}
.rock-star-heading {
	font-weight: bold;
}
.section-subheading {
	text-align: center;
	font-size: 20px;
}
.memoji-section {
	/* display: grid;
	grid-template-columns:1fr 1fr 1fr;
	padding: 0px;
	align-self: flex-start; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.memoji-person {
	width: 200px;
	max-height: 280px;
	max-width: 300px;
	margin: 20px;
	position: inherit;
}
@media (max-width: 775px) {
	.section-container {
		flex-direction: column;
		padding: 10px;
	}
	.man-studying,
	.pitch {
		width: 100%;
		margin: 10px;
	}
	.phone-mockup {
		width: 100%;
		margin: 10px;
		margin-top: 360px;
	}
	.features {
		width: 100%;
		margin: 0 auto;
	}
	.feature-contents {
		flex-direction: column;
		padding: 10px;
	}
	.rock-star-text {
		width: 100%;
		justify-content: center;
		padding: 30px;
		margin: 0 auto;
	}
	.memoji-section {
		display: grid;
		width: 100%;
		max-height: 500px;
		grid-template-columns: 50% 50%;
	}
	.memoji-person {
		width: 45vw;
	}
	.last-person {
		margin-left: 25vw;
	}
}
@media (max-width: 300px) {
	.phone-mockup {
		margin-top: 435px;
	}
}
@media (max-width: 1160px) {
}
