.get-the-app-btn {
	width: 50%;
	max-width: 300px;
	text-align: center;
	padding: 10px;
	background-color: #40ff40;
	border-radius: 18px;
	color: #f1f1f1;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}
.get-the-app-btn:hover {
	text-decoration: none;
}

.features {
	display: flex;
	flex-direction: column;
	width: 60%;
}
.feature-contents-container {
	display: grid;
	width: 100%;
	max-height: 500px;
	grid-template-columns: 50% 50%;
	grid-area: auto;
	justify-content: space-between;
	padding: 10px;
}
.features-heading {
}
.feature-image {
	/* width: 40%; */
	max-height: 150px;
	align-self: center;
}
.feature-name {
	font-size: 16px;
}
.feature-description {
	font-size: 13px;
}
.feature-contents {
	display: flex;
	flex-direction: row;
	padding: 15px;
}
.phone-mockup {
	height: 100%;
	max-height: 500px;
	max-width: 350px;
	width: 45%;
	margin-top: 100px;
	align-self: center;
}

.rock-star-section {
	justify-content: center;
	margin-top: -110px !important;
}
.rock-star {
	height: 100%;
	max-height: 500px;
	max-width: 400px;
	width: 50%;
	margin-top: 100px;
	align-self: center;
}
.rock-star-text {
	display: flex;
	flex-direction: column;
	width: 35%;
	justify-content: center;
	padding: 30px;
}
.rock-star-heading {
	font-weight: bold;
}
.section-subheading {
	text-align: center;
	font-size: 20px;
}
.memoji-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 30px;
}
.memoji {
	width: 45%;
	align-self: center;
	height: 25%;
}
.memoji-texts-container {
	height: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.memoji-name {
	font-size: 0.75rem;
	font-weight: bold;
	margin-bottom: 0px;
}
.memoji-comment {
	font-size: 0.7rem;
	margin-bottom: 0px;
}
.memoji-card {
	display: flex;
	flex-direction: column;
	max-width: 220px;
	width: 100%;
	max-height: 365px;
	border-radius: 15px;
	background-color: #f1f1f1;
	padding: 0 10px 10px 10px;
	margin: 20px;
	box-shadow: 0 4px 7px -2px #1d58ec;
}
@media (max-width: 775px) {
	.phone-mockup {
		width: 100%;
		margin: 10px;
		margin-top: 360px;
	}
	.features {
		width: 100%;
		margin: 0 auto;
	}
	.feature-contents {
		flex-direction: column;
		padding: 10px;
	}
	.rock-star-text {
		width: 100%;
		justify-content: center;
		padding: 30px;
		margin: 0 auto;
	}
	.memoji-card {
		margin: 2px;
	}
	.memoji-section {
		display: grid;
		width: 100%;
		grid-template-columns: 48.5% 48.5%;
		/* margin-left: -5vw; */
	}
}
@media (max-width: 300px) {
	.phone-mockup {
		margin-top: 435px;
	}
}
@media (max-width: 1160px) {
}
