.navigation {
	width: 100vw;
	display: flex;
	flex-direction: row;
	padding: 10px 15px 0 15px;
	position: fixed;
}
.navigation-with-background{
	background-color: #f1f1f1;
	z-index: 100;
}
.logo-text-image{
	max-width: 200px;
}
.logo{
	z-index: 100;
	text-decoration: none;
	color: black;
	margin-top: 9px;
	font-weight: bold;
}
.header-links{
	margin-top: 23.5px;
	margin-left: 29px;
	color: black !important;
}
.closeBtn{
	opacity: 0;
	z-index: 1020;
}
.header-links a{
	color: black !important;
	margin-right: 20px;
}
.navbar-brand{
	
}
.bars{
	opacity: 0;
}
.sidenav a {
	padding: 15px 8px 0px 32px;
	text-decoration: none;
	font-size: 18px;
	color: #323232;
	display: block;
	font-weight: bold;
	opacity: 0;
}

/* .sidenav .sidelink:hover {
	color: #f1f1f1;
} */


@media screen and (max-height: 450px) {
	.sidenav a {
		font-size: 18px;
	}
}
@media (max-width: 600px) {
	
	.logo-text-image{
		/* width: 60vw; */
		margin-right: -10vw;
	}
	.closeBtn{
		position: static;
		margin-top: -7px;
		top: 0;
		right: 0;
		font-size: 60px;
		margin-left: 50px;
		color: #323232;
		z-index: 100;
		opacity: 1;
		position: fixed;
		z-index: 100;
		right: 0;
		margin-right: 10px;
	}
	.sidenav a {
		opacity: 1;
	}
	.header-links {
		opacity: 0;
	}
	.bars {
		opacity: 1;
		color: #323232;
		width: 10px;
		margin-right: 2.5rem;
		font-size: 45px;
		cursor: pointer;
		position: fixed;
		z-index: 100;
		right: 0;
		
	}
	.sidenav {
		width: 100vw;
		height: 50vh;
		opacity: 1;
		position: absolute;
		border-bottom-left-radius: 35px;
		border-bottom-right-radius: 35px;
		box-shadow:0.2px 0.2px 15px #1D58Ec;
		z-index: 10;
		margin-top: -10px;
		right: 0;
		top: 0;
		background-color: #f1f1f1;
		padding-top: 75px;
		font-size: 25px;
	}
}
