h1 {
	color: #eeeeee;
}
.container--waitlistapi {
	margin: 0 auto;
	background-color: #222222;
}
.button--waitlistapi {
	background-color: #000000;
}
.statusTextContainer--waitlistapi {
	color: #eeeeee;
}
.referralLinkField--text {
	color: #eeeeee;
}
